<h1>Departments</h2>
<br>
<hr />
<% @depts.each do |e| %>
<p><%= e.name %> (<%= e.loc %>) </p>

<%= link_to 'Visit Dept', dept_path(e) %>
<%= link_to 'Add Dept', new_dept_path %>
<%= link_to 'Edit Dept', edit_dept_path(e) %>
<% end %>